<div class="space-y-2 text-sm">
  <% if controller_name == "sessions" %>
    <div>
      <%= link_to t(".reset_password"), new_password_reset_path, class: "text-primary hover:text-primary-hover" %>
    </div>
  <% else %>
    <div>
      <%= link_to t(".log_in"), login_path, class: "text-primary hover:text-primary-hover" %>
    </div>
  <% end %>

  <% if controller_name != "registrations" %>
    <div>
      <%= link_to t(".sign_up"), sign_up_path, class: "text-primary hover:text-primary-hover" %>
    </div>
  <% end %>
</div>
